.toolPagination {
    border: none;
    height: 3rem;
}

/* .toolPagination {
    border: none;
    height: 3rem;
}

.multi-steps>li.is-active:before,
.multi-steps>li.is-active~li:before {
    content: '\2B6E';
    font-family: inherit;
    font-weight: 700;
}

.multi-steps>li.is-active:after,
.multi-steps>li.is-active~li:after {
    background-color: #ededed;
}

.multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.multi-steps>li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: #449D44;
}

.multi-steps>li:before {
    content: '\2713';
    display: block;
    margin: 0 auto 4px;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: #449D44;
    border-radius: 50%;
}

.multi-steps>li:after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #449D44;
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: -1;
}

.multi-steps>li:last-child:after {
    display: none;
}

.multi-steps>li.is-active:before {
    background-color: #fff;
    border-color: #EC971F;
}

.multi-steps>li.is-active {
    color: #EC971F;
}

.multi-steps>li.is-rejected:before {
    background-color: #fff;
    border-color: #C9302C;
    content: '\2613';
}

.multi-steps>li.is-rejected {
    color: #C9302C
}

.multi-steps>li.is-active~li {
    color: #808080;
}

.multi-steps>li.is-active~li:before {
    background-color: #ededed;
    border-color: #ededed;
} */